<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/versions/bulma-no-dark-mode.min.css">
    <title>Thanks for your order</title>
</head>
<body>
<div th:replace="~{fragments/header :: header}"></div>
<div class="h-full w-full flex items-center justify-center">
    <div class="card p-16">
        <h1 class="text-center text-xl font-bold" th:text="${firstName + ' ' + lastName} + ', thanks  for your order!'"></h1>
        <p>Your order was created successfully. Our team will reach you as soon as possible to clarify shipping details</p>
        <div class="flex justify-center">
            <a class="button is-black" href="/profile">Check my orders</a>
        </div>
    </div>
</div>
</body>
</html>